
.hero{
    display: flex;
    flex-direction: row;
    padding: 80px 0px;
  }
  
  .hero_text{
      display:flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;
      margin-left: 80px;
  }
  
  .hero_text h1::first-letter{
    color: #0052CC;
    font-size: 3.5rem;
  }
  
  .hero_text h1{
    color: #172B4D;

  }
  
  .hero_text p{
    color:#091E42;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
  

  .hero_img img{
    width: 60%;
    max-width: 700px;
    min-width: 200px;
    display: block;
    margin: auto;
    animation-name: picani;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  
  @keyframes picani{
    0%{
      transform: translateY(20px);
    }
    100%{
      transform: translateY(-20px);
    }
  }
.secondhero{
    background-color: wheat;
    margin-bottom: 40px;
}
.feature_section h2{
    text-align: center;
    color: #091E42;
    text-decoration: underline;
}
@media (max-width:1100px){
    .hero{
        flex-direction: column-reverse;
      }
      .hero_text{
        margin-left: 0px;
        text-align: center;
      }
}
.feature_card_container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.feature_card{
  width: 350px;
  overflow: hidden;
  box-shadow: 5px 5px 15px -5px rgba(0 ,0,0,0.5);
  border-radius: 5px;
  transition: all 0.2s;
  margin: 20px 0px;
}
.feature_card_img{
  width: 100%;
  transition: all 0.2s;
  object-fit: cover;
  
}
.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 80%;
  opacity: 0;
  transition: .5s ease;
  background-image: linear-gradient(red, blue);
  border-radius: 0px 0px 250px 0px;
}
.overlay .text{
  color: white;
}
.feature_card_img_container{
  height: 200px;
  transition: all 0.2s;
  overflow: hidden;
  position: relative;
}
.feature_card_text{
  margin:10px;
}
.feature_card_text h3{
  color:#36B37E;
}
.feature_card:hover{
  box-shadow: 15px 15px 30px -5px rgba(0 ,0,0,0.5);
}
.feature_card:hover .feature_card_img{
  	transform: scale(1.5) rotate(15deg);
}

.feature_card:hover .overlay{
  opacity: 0.7;
}

.explore_link{
  color:green;
  float: right;
  margin-bottom: 10px;
}