body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
html{
  overflow-x: hidden;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*******************footer***********************************************/

.footer{
  min-width: 100%;
  background-color: black;
  color: white;
  padding: 20px 0px;
  margin: 20px 0 0 0;
}
.footer .container .row div ul{
    list-style: none;
}
.copyright{
  text-align: center;
}
.icon{
  padding: 5px;
  color: white;
}

/******************end footer**************************************/


nav{
  height: 60px;
  width: 100%;
  background-color: #ffffff ;
  border-top: 5px solid;
  border-image-slice: 1;
 border-image-source: linear-gradient(to left, #97c74e, #2ab9a5);
}
.div-header{
  height: 100%;
  margin:0;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  padding: 0px;
}
.navLink{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo,.link{
  padding:0px;
}
.main-nav{
  margin:0 10% ;
}
.mediaimage{
  width: 200px;
  height: 200px;
  border-radius: 100%;
  object-fit: cover;
}
.media-body{
  margin: auto 0;
}
.heading-text{
  color: #97c74e;
  margin: 50px 0px;
}
.heading-text2{
  color: #2ab9a5;
  margin: 50px 0px;
}
.heading-text3{
  color: #3355ff ;
  margin: 50px 0px;
}
.image-adjust{
  /* margin: 0px auto; */
  text-align: center;
}
.image{
  opacity: 1;
  position: relative;
  transition: .5s ease;
  backface-visibility: hidden;
  background-color: blue;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
}
.image-adjust:hover .image{
  opacity: 0.3;
}

.image-adjust:hover .middle {
  opacity: 1;
}

.text {
  color: black;
  font-size: 16px;
  padding: 16px 32px;
}
.about-icon{
  color: black;
  margin: 5px;
}

.type-body{
  background: #333;
  width: 100%;
  padding-top: 3em;
  padding-bottom: 2em;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 50px;
  box-shadow: 5px 5px 15px -5px rgba(0 ,0,0,0.5);
}

.typewriter h1 {
  color: #fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 5.5s steps(30, end),
    blink-caret .5s step-end infinite;
}


/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}
/*****************************home page**********************************/

.intro{
  background: black url('./images/IMG_20200204_171241.jpg');
  background-size: cover;
  background-position: center;
  min-height: 600px;
  z-index: -100;
  position: relative;

}

.intro-text{
  color: white;
  position: absolute;
  top: 200px;
  left: 10%;
  max-width: 600px;
  transform: translateX(-200px);
  animation: 1.2s slideIn ease-in-out forwards 1s;
  z-index: 10;
  opacity: 0;
}

@keyframes slideIn {
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.homenav{
margin-top: -50px;
z-index: 100;
box-shadow: 5px 5px 15px -5px rgba(0 ,0,0,0.5);
}
.homenav li{
  margin: auto 5px;
}
.ullink{
  list-style: none;
}
.ullink>li{
  padding: 0px 12px;
}
.ullink>li:first-child{
  padding-left: 0px;
}
.homebody{
  margin-top: 20px;
}
.card-con{
  margin: 10% 0;
  transform: translateX(-200px);
  animation: 1.2s slideIn ease-in-out forwards 1s;
}
.slideshow{
  width: 100%;
  height: 500px;
  object-fit: cover;
  box-shadow: 5px 5px 15px -5px rgba(0 ,0,0,0.3);
}
.fade{
  opacity: 0.1;
  animation: 2s fadetext ease-in-out forwards 0.1s;
}
@keyframes fadetext {
  100% {
    opacity: 1;
  }
}


/*****************touristintroU**********************/
.touristintro{
  background: black url('./images/IMG_20200204_171241.jpg');
  background-size: cover;
  background-position: center;
  min-height: 400px;
}
/************************* app download Section**************************/
.svgcon{
  text-align: center;
}
.svgcon>svg{
  height: 300px;
  width: 300px;
}
.download{
  text-align: center;
  margin-top: 50px; ;
}
.download>button>a{
  color: white;
}
.heilight{
  position: relative;
}
.heilight::before{
  width: 100%;
  height: 15px;
  content: "";
  background-color: #8ee4af;
  position: absolute;
  bottom: 0;
  z-index: -1;
}

/*button*/
.btnstyle{
  border: 1px solid #3498db;
  background:    #020542   ;
  padding: 10px 20px;
  margin:10px;
  font-size: 20px;
  font-family: cursive;
  min-width: 80%;
  cursor: pointer;
  color: #f7f7f7 ;
  transition: 0.8s;
}
.btnstyle:hover{
  color:  red ;
  background: white;
}
.dropbtn{
  border: 1px solid #3498db;
  background:     #fcc745    ;
  padding: 10px 20px;
  margin:10px;
  font-size: 20px;
  font-family: cursive;
  min-width: 80%;
  cursor: pointer;
  color: #f7f7f7 ;
}
.dropbtn:hover{
  background:  #42f508 ;
  color: #000;
}
.dropdown{
  position: relative;
  display: block;
}
.drop{
  display: none;
  position: absolute;
  background-color: aquamarine;
  min-width: 160px;
  z-index: 1;
}
.dropdown:hover .drop{
  display: inline-block;
}
@media (max-width:900px){
  .dropdown:hover .drop{
    display: block;
  }
  .slideshow{
    margin-top: 20px;
  }
  .type-body{
    overflow-x: scroll;
  }
}
.blog{
  width: 100%;
  height: 100%;
  box-shadow: 5px 5px 15px -5px rgba(0 ,0,0,0.3);
}
.heading-text-4{
  color:#8ee4af;
  margin: 0px;
  line-height: 2;
}
.breadcrumb{
  background-color: inherit;
}
.brandlogo{
  width: 70px;
  height: 55px;
}
.link-section{
  padding-left: 40px;
  padding-right: 0px;
  margin-right: 0px;
}
.details{
  color: black;
}
.detail-image{
  width: 100%;
  height:
}
.social{
  text-align: center;
}
.blog-icon{
  width:50px;
  height: 50px;
  position: fixed;
  z-index: 1000;
  bottom: 30px;
  right: 10px;
  color: floralwhite;
  background-image: linear-gradient(to right, #97c74e, #2ab9a5 );
  border-radius: 100%;
  box-shadow: 5px 5px 15px -5px rgba(0 ,0,0,0.5);
}
.blog-icon>i{
  position: absolute;
  top: 40%;
  left: 37%;
}
.navLink>a{
  margin-left: 20px;
}
.facebook{
  color: white;
  position: absolute;
  top:50%;
  left: 50%;
}
.cont{
  width: 50px;
  height: 50px;
  background-image: linear-gradient(to right, #1876f2, #2ab9a5 );
  border-radius: 100%;
  box-shadow: 5px 5px 15px -5px rgba(0 ,0,0,0.5);
  position: relative;
}
.year{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.year button{
  background-color: #1BA94C;
  padding: 8px;
  border: none;
  box-shadow: 5px 5px 15px -5px rgba(27,169,76,1);
  color: white;
  font:20px "open sans";
  margin: 10px 0px;
}
.year button:hover{
  transition: 0.5s ease;
  box-shadow: 5px 5px 15px -5px rgba(27,169,76,0.1);
}
.year button:focus{
  padding: 10px;
  box-shadow: 5px 5px 15px -5px rgba(0 ,0,0,0.1);
}
.booksslide{
  box-shadow: 5px 5px 15px -5px rgba(0 ,0,0,0.9);
  margin-top: 30px;
}
.booksection{
  margin: 30px 0px;
}
.year button:disabled{
  opacity: 0.3;
}

/*****************/
.nav_pos{
  position: fixed;
  top: 0;
  z-index: 1000;
}
.link{
  color: #1BA94C;
}
.link:hover{
  color: #1876f2;
  background-color: #f7f7f7;
  text-decoration: none;
}
.link:focus{
  color: red;
}
@media (max-width:1000px){
  .homenav{
    overflow-x: scroll;
    box-shadow: 5px 5px 15px -5px rgba(0 ,0,0,0.5);
  }
}
.details{
  margin: 60px 10px;
}
